/* Styles for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark background color with transparency */
    transition: opacity 0.5s ease;
}

/* Styles for the popup */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    padding: 40px; /* Increase the padding to add more space */
    background-color: rgba(255, 168, 5, 0.682);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    

}

/* Additional styles for better readability */
div#popup {
    color: white;
    font-size: 16px; /* Adjust the font size as needed */
    line-height: 1.5; /* Adjust the line height for better spacing */
}

.visible {
    display: block;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
