*
{
    margin:0;
    padding:0;
    font-family:sans-serif;
}

html
{
    font-size: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section
{
    padding:2rem 9%;
}
   
body
{
    background-color: white;
    background-repeat: no-repeat;
    background-size:cover;
}

.Welcome
{

    padding-left:30px;
    /* padding-bottom:40px; */
    padding-top:20px;
    font-family:fantasy;
    color:khaki;

}

.navbar
{
    width: 100%;
    margin: auto;
    padding:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar img
{
    width:200px;  
    padding-left:50px;  
}

.navbar ul li
{
    list-style:none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a
{
    text-decoration:none;
    text-transform: uppercase;
    color: aliceblue;
}

.navbar ul li::after     /* Underline of "Home","About Us","Rooms".... */
{
    content:"";
    height:3px;
    width:0%;
    background-color:gold;
    position: absolute;
    left: 0;
    bottom: 0;  /* Position of the line */
    transition: 0.5s;
}

button
{
    border:none;
    background: none;
    outline:none;
    transition:0.5s;
    cursor:pointer;
}

.bookbtn
{
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background:goldenrod;
    color:White;

}

.navbar ul li:hover::after
{
    width:100%;
}

.home
{
   min-height:100vh;
   display:flex;
   align-items:center;
   justify-content:center;
   flex-flow:column;
   position:relative;
   z-index:0;
}

.home h3
{
    font-size:4.5rem;
    color:white;
    text-transform: uppercase;
}

.home p
{
    font-size:2.5rem;
    color:white;
    padding: 0.5em 0;
    text-transform:capitalize;

}

.btn
{
    display:inline-block;
    margin-top:1rem;
    background-color:goldenrod;
    color:white;
    padding:.8rem 3rem;
    border:.2rem solid goldenrod;
    cursor:pointer;
    font-size:1.7rem;
    border-radius:5px 5px;
    text-decoration: none;
}

.btn:hover
{
  color: black;
}

.video-container video
{
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    height:100%;
    width:100%;
    object-fit: cover;
}

/* .controls
{
    padding:1rem;
    border-radius:0.5rem;
    background:black;
    position:relative;
    top:10rem;
} */

.vid-btn
{
    height:2rem;
    width:2rem;
    display:inline-block;
    border-radius:50%;
    background:white;
    cursor: pointer;
    margin:0.5rem;
}

.vid-btn.active
{
    background:goldenrod;
}

/* INTRO */

.intro .box-container
{
    display:flex;
    flex-wrap:wrap;
    gap:2rem;
}

.intro .box-container .box
{
    flex:1 1 30rem;
    border-radius:0.5rem;
    overflow:hidden;
    box-shadow:0 1rem 2rem rgba(0,0,0,0.1);
}

.intro .box-container .box img
{
    height:25rem;
    width:100%;
    object-fit:cover;
}


.Heading
{
    text-align: center;
    padding:2.5rem 0;
}

.Heading span
{
    font-size:2.5rem;
    background-color:goldenrod;
    color:white;
    border-radius:5px 5px;
    padding: 0.2rem 1rem;
}

.cmtNcont .row
{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}

.BoyGirlimg img
{
    width:100%;
    height:500px;
}

.cmtNcont .row form
{
   flex:1 1 40rem;
   padding:2rem;
   box-shadow:0 1rem 2rem;
   border-radius:0.5rem;
}

.cmtNcont .row form .inputBox
{
    padding:0.5rem 0;
}

.cmtNcont .row form .inputBox input
{
   width:100%;
   padding:10px;
   border:0.1rem solid black;
   font-size:1.7rem;
   color:gray;
   text-transform:none;
}

.cmtNcont .row form .inputBox h3
{
    font-size:1rem;
    padding:1rem 0;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family:'Verdana';
}

.Subbtn
{
    display:inline-block;
    margin-top:1rem;
    background-color:goldenrod;
    color:white;
    padding:0.5rem 3rem;
    border:.2rem solid goldenrod;
    cursor:pointer;
    font-size:1rem;
    border-radius:5px 5px;
    text-decoration: none;
}

.Subbtn:hover
{
    color:black;
    background-color:whitesmoke;
}

textarea
{
    height:300px;
    resize:none;
    width:500px;
}

footer
{
    background-color:black;
}

footer .box-container
{
    display:flex;
    flex-wrap:wrap;
    gap:1.5rem;
}

footer .box-container .box
{
   padding:1rem 0;
   flex:1 1 25rem;
}

footer .box-container .box p
{
    padding:1rem 0;
    flex:1 1 25rem;
    color:white;
}

footer .box-container .box h3
{
    font-size:2.5rem;
    padding:0.7rem 0;
    color:goldenrod;
}

footer .box-container .box p
{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

footer .box-container .box a
{
    display:block;
    /* font-size:1.5rem; */
    padding:0.7rem 0;
    color:white;
    text-decoration:none;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

footer .box-container .box a:hover
{
    color:goldenrod;
    text-decoration: underline;
}
