body
{
  overflow-x: hidden;
}

.container1 {
  max-width: 100%;
  margin: 10px;
}

.header{
  background: goldenrod;
  padding: 15px 0;
  color: black;
  width: 100%;
  margin: -10px;
 
  
}
body{
  background: goldenrod;
  overflow-x: hidden;

}

li {
  list-style: none;
}
a 
{
  text-decoration: none;
  transition: 0.5s;
}


.head {
  height: 10vh;
  line-height: 10vh;
  top:0;
}

.navbar {
  display: flex;
  align-items: center;
}


.nav-menu {
  display: flex;
  justify-content: space-between;

  
}

header ul {
  padding: 0 20px 0 0;
  margin-left: 1000px;
}

header li {
  margin-right: 30px;
}

header ul li a {
  font-size: 15px;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.5s;
}
header ul li a:hover
{
  text-decoration: underline;
}

header.sticky {
  z-index: 9999;
  position: fixed;
  width: 100%;
  background: black;
  transition: 0.3s;
  height: 10vh;
  transition: 0.5s;
  top: 0;
  padding: 30px 0 0 0;
}

header.sticky ul li a {
  color: white;
}

/*#arrival-date,
#departure-date,
#adults,
#room-type {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  background-color: rgb(218, 247, 166);
}*/

.luxury img {
  width: 20rem;
}

.AT {
  margin-top: 10px;
  border: 2px solid #e4ad0b;
  background-color: #e4ad0b;
  border-radius: 60px;
  width: 350px;
  padding: 10px;
  flex: 1;
}

.form {
  margin-top: 10px;
  flex: 1;
  margin-left: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  min-height: 100vh;
}

.container form {
  padding: 30px;
  width: 700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container form .row {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.container form .row .col {
  flex: 1 1 250px;
}

.container form .row .col .title {
  font-size: 20px;
  color: #333;
  padding-bottom: 5px;
  text-transform: uppercase;

}

.container form .row .col .inputBox {
  margin: 15px 0;
}

.container form .row .col .inputBox span {
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 
}

.submit-btn
{
  border-radius: 60px;
  text-align: center;
  margin-top: 10px;
  margin-left: 500px;
  color: black;
  background-color: goldenrod;
}
.submit-btn:hover
{
  background-color: black;
  color: goldenrod;
}
