*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

body
{
    min-height:100vh;
    background-color:#ebe9e9;
    color:white;
    background-size:cover;
    background-position:center;
    overflow-x: hidden;
}

/*------------------------------------------------------------------------- Side Bar------------------------------------------------------ */

.side-bar
{
    background:black;
    width:80px;
    height:100vh;
    position:fixed;
    top:0;
    transition:0.6s ease;
    transition-property:left;
    overflow-y: auto;
}

.side-bar:hover
{
    width:220px;
    transition:0.5s;
}

.side-bar .menu .item #menu-icon
{
    display:none;
}

.side-bar:hover .menu .item #menu-icon 
{
    display: inline-block; 
}

.side-bar .menu .item .menu-text 
{
    display: none; /* Hide the span initially */
}

.side-bar:hover .menu .item .menu-text 
{
    display: inline-block; /* Display the span when the sidebar is hovered */
}

.side-bar:hover ~ .datetime 
{
    transform: translateX(150px); /* Adjust the value based on your sidebar width */
    transition: 0.5s ease;
}

header
{
    background:#33363a;
    margin-top: 100px;
}

header h1
{
    text-align:center;
    font-weight:600;
    font-size:22px;
    padding-bottom:13px;
    letter-spacing:2px;
}

.menu
{
    width:100%;
    margin-top:20px;
    overflow:hidden;
}

.menu .item a
{
    color:white;
    font-size:14px;
    text-decoration:none;
    display:block;
    padding:3px 30px;
    line-height:60px;
    overflow:hidden;
}

.menu .item .logout
{
    background-color:grey;
    width:250px;
    height:75px;
    margin-top:340px;
}

.item i
{
    margin-right:15px;
}

.item a .dropdown
{
    position:absolute;
    right:0;
    margin:20px;
    transition:0.3s ease;  
}

.item .sub-menu
{
    background:black;
    display:none;
}

.sub-btn
{
    cursor:pointer;
}

.side-bar.active
{
    left:0;
}

.side-bar::-webkit-scrollbar  /* CSS for scroll bar on Side Bar */
{
    width:0px;
}

.item .sub-menu a
{
    padding-left:80px;
}

.rotate
{
    transform:rotate(90deg);
}

/* ------------------------------------------Date & Time Widget--------------------------------------------------- */

.datetime
{
    color:black;
    background-color:#ebe9e9;
    font-family:"Segoe UI",sans-serif;
    width:100%;
    padding:1rem;
    margin-left:100px;
    border:3px solid #ebe9e9;
    border-radius:8px;
    transition:0.5s;
    position:relative;

}

.date
{
    font-size:15px;
    font-weight:600;
    text-align:center;
    letter-spacing:3px;
    margin-left:950px;
    position:absolute;
    top:60px;
}

.time
{
    font-size:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left:950px;
    position:absolute;
    top:90px;
}

.time span:not(:last-child)
{
    position:relative;
    margin:0 6px;
    font-weight:600;
    text-align:center;
    letter-spacing:3px;
}

.time span:last-child
{
    font-size:30px;
    font-weight:600;
    text-transform:uppercase;
    margin-top:10px;
    padding:0 5px;
    border-radius:4px;
}

/* -----------------------------------------------------------Header Section----------------------------------------------------------------*/

.main-content
{
    position:relative;
    color:black;
}

.header-title
{
    font-size:20px;
    padding:5px 5px;
    position: relative;
    top:20px;
}

.header-title span
{
    text-transform: uppercase;
}

.header-title h2
{
    text-transform: uppercase;

}

.search-box 
{
    display: flex;
    align-items: center;
    background-color: #fff; 
    border: 1px solid #ccc; 
    border-radius: 30px; 
    padding: 10px; 
    width: 300px;
    margin-left:600px; 
}

.search-box input[type="text"] 
{
    border: none; 
    outline: none; 
    width: 100%; 
    padding: 6px; 
    font-size: 14px;
}


/* ---------------------------------------Admin Account Table------------------------------------------------- */
/* ---------------------------------------User Account Table--------------------------------------------------- */

.adminAcc 
{
  width: 80%;
  table-layout: fixed;
  margin-top:30px;
  border-radius:6px; 
}

.adminAcc .headings
{
    background-color:burlywood;
}

.adminAcc th
{
    text-align: center;
    width:10%;
    padding:8px;
}

.adminAcc th:first-child 
{
    width: 5%; /* Set the width for the first (ID) column */
}

.adminAcc th:last-child 
{
    width: 10%; /* Set the width for the first (ID) column */
}

.adminAcc .edit,
.adminAcc .dlt
{
    display: block;
    margin: 0 auto;
    padding: 3px;
    font-weight: bold;
    cursor: pointer;
}

.adminAcc .edit
{
    background-color:lightgreen;
    padding:3px;
    width:60px;
    margin-bottom:10px;
    font-weight:bold;
    cursor:pointer;
}

.edit:hover
{
    background-color: greenyellow;
}

.dlt
{
    background-color:red;
    padding:3px;
    font-weight:bold;
    cursor: pointer;
}

.dlt:hover
{
    background-color:crimson;
}

/* -----------------------------------------------Add New Admin (SuperAdmin Only)---------------------------------------------- */

.popup
{
    position:fixed;
    top:-150%;
    left:50%;
    opacity:1;
    transform:translate(-50%,-50%) scale(0.85);
    width:600px;
    height:620px;
    padding:10px 15px;
    font-size:15px;
    font-weight:bold;
    margin:8px 0;
    background: #eee;
    box-shadow:2px 2px 5px 5px;
    border-radius:10px;
    transition:top 0ms ease-in-out 200ms,   
               opacity 0ms ease-in-out 0ms,
               transform 20ms ease-in-out 0ms;
}

.popup.active 
{
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition:
        top 200ms ease-in-out 0ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    backdrop-filter: blur(5px); /* Adjust the blur amount */
    display: none;
    z-index: 1; /* Ensure the overlay is on top of other elements */
}

.popup-overlay.active {
    display: block;
}

.form-element
{
    margin:15px 0px;
}

.form-element input,
.form-element select 
{
    margin-top:5px;
    display:block;
    width:100%;
    padding:10px 15px;
    outline:none;
    border-radius:10px;
    font-family: 'Poppins', sans-serif;
    font-size:15px;

}


.form-element input[type="file"]  /* ------------------ ADD CATEGORY POPUP -------------- */
{
    margin-left: 5px;
}


.form-btn
{
    background-color:burlywood;
    color:black;
    text-transform:uppercase;
    font-size: 16px;
    cursor: pointer;
    font-weight:bold;
}

.form-btn:hover
{
    background-color:sandybrown;
}

.cancel-btn
{
    margin-top:10px;
    cursor: pointer; 
    font-size:16px; 
    width:100%; 
    height:40px;
    background-color:burlywood;
    border-radius:10px;
    font-weight:bold;
}

.cancel-btn:hover
{
    background-color:sandybrown;
}


/*------------------------------------------ Admin Edit Profile ------------------------------------------- */
/*------------------------------------------ User Edit Profile ---------------------------------------------*/

.editAdmin
{
    width:100%;   
}

.edit-form
{
    margin:15px 0px;
}

.edit-form input,
.edit-form select
{
    margin-top:5px;
    display:block;
    width:50%;
    padding:10px 15px;
    outline:none;
    border-radius:10px;
    font-family: 'Poppins', sans-serif;
    font-size:15px;
}

.edit-cancel-btn,
.edit-submit-btn
{
    margin-top:10px;
    cursor: pointer; 
    font-size:16px; 
    width:50%; 
    height:40px;
    background-color:burlywood;
    border-radius:10px;
    font-weight:bold;
}

.edit-cancel-btn:hover,
.edit-submit-btn:hover
{
    background-color:sandybrown;
}

/*------------------------------------------ Menus ------------------------------------------- */

.add-products
{
    border:3px solid black;
    border-radius:10px;
    margin-top:20px;
    margin-right:10px;
    padding:20px;
    width:1250px;

}

.add-products h3
{
    text-align: center;
    margin-top: 10px;
    margin-bottom:20px;
}

.form-group 
{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.label 
{
    font-size: 15px;
    font-weight: bold;
    margin-left:280px;
    display: block;
}

.box
{
    margin-top:10px;
    margin-left:280px;
    margin-bottom:10px;
    display:block;
    width:50%;
    padding:10px 15px;
    outline:none;
    border-radius:10px;
    font-size:15px;
}

.add-products .btn 
{
    margin-top:10px;
    margin-left:450px;
    margin-bottom:20px;;
    cursor: pointer; 
    font-size:14px; 
    width:250px; 
    height:30px;
    background-color:burlywood;
    border-radius:5px;
    font-weight:bold;
}

.add-products .btn:hover
{
    background-color:sandybrown;
}


.DisplayCat 
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-right:240px;
}

.Cat-container 
{
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    margin: 10px; /* Adjust the margin */
    width: calc(25% - 24px); /* Set the width to 25% of the container, subtracting margin */
    box-sizing: border-box;
}

.Cat-container h3 {
    margin-top: 10px;
    text-align: center;
}

.cat_img 
{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.cat_link:hover .cat_img {
    transform: scale(1.1);
}

.cat-edit
{
    background-color:lightgreen;
    width:100px;
    padding:3px;
    font-weight:bold;
    cursor:pointer;
    margin:5px auto;
    display: block;
}

.cat-edit:hover
{
    background-color:greenyellow;

}

.cat-dlt
{
    background-color:red;
    width:100px;
    padding:3px;
    font-weight:bold;
    cursor: pointer;
    margin:5px auto;
    display: block;
}

.cat-dlt:hover
{
    background-color:crimson;

}



/*------------------------------------------ Display Product ------------------------------------------- */

.productTable
{
    width: 80%;
    table-layout: fixed;
    margin-top:30px;
    border-radius:6px;
}

.productTable th
{
    text-align: center;
    width:20%;
    padding:10px;
}

.productTable td
{
    text-align:center;
    word-wrap: break-word;
    padding:10px;
}

.productTable .headings
{
    background-color:burlywood;
}

.productTable .img
{
    display: block;
    margin: auto;
    max-width: 100px; 
    height: auto;
}

.productTable .edit,
.productTable .dlt 
{
    display: block;
    margin: 0 auto;
    padding: 3px;
    font-weight: bold;
    cursor: pointer;
}

.productTable .edit
{
    background-color:lightgreen;
    padding:3px;
    width:60px;
    margin-bottom:10px;
    font-weight:bold;
    cursor:pointer;
}

.productTable .edit:hover
{
    background-color:greenyellow;
}

.productTable .dlt
{
    background-color:red;
    padding:3px;
    font-weight:bold;
    cursor: pointer;
}

.productTable .dlt:hover
{
    background-color:crimson;
}

/*------------------------------------------ Edit Product ------------------------------------------- */

.form-Element
{
    margin:15px 0px;
}

.form-Element input,
.form-Element select
{
    margin-top:5px;
    display:block;
    width:60%;
    padding:10px 15px;
    outline:none;
    border-radius:10px;
    font-family: 'Poppins', sans-serif;
    font-size:15px;
}

.form-Element input[type="file"] 
{
    margin-left: 5px;
}

.form-Element .Edit-cancel-btn
{
    margin-top:10px;
    cursor: pointer; 
    font-size:16px; 
    width:60%; 
    height:40px;
    background-color:burlywood;
    border-radius:10px;
    font-weight:bold;
}

.Edit-cancel-btn:hover
{
    background-color:sandybrown;

}

/*------------------------------------------ Manage Add On ------------------------------------------- */

.products-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border:3px solid black;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food-name {
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.addonimg {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.Addon-itmes 
{
    margin-top: 20px;
    text-align: center;
}

.Addon-itmes h2
{
    text-decoration: underline;
}

.addon-item 
{
    margin-top: 10px;
    margin-bottom:10px;
}

.addon-name 
{
    display: inline-block;
    color: #333;
    margin-right: 10px;
}

.addon-price 
{
    display: inline-block;
    color: #777;
}

.checkBOX
{
    margin-left:10px;
}

.addon-form 
{
    margin-top: 20px;
    text-align: center;
}

.addon-form h2
{
    text-decoration: underline;

}

.addonbtn 
{
    margin-top:10px;
    margin-left:20px;
    cursor: pointer; 
    font-size:14px;
    width:150px; 
    height:30px;
    background-color:burlywood;
    border-radius:10px;
    font-weight:bold;
}

.addonbtn:hover 
{
    background-color:sandybrown;
}

.button-link 
{
    display: inline-block;
    padding: 5px 20px;
    border:2px solid black;
    background-color: burlywood;
    color:black;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    background:burlywood; 
    margin-top:20px; 
    margin-left:5px; 
    width:250px; 
    height:30px; 
    cursor:pointer; 
    font-weight:bold; 
    border-radius:5px;
    font-size:13px;
}

.addname,
.addprice
{
    width:180px;
    border-radius: 3px;
    margin-top:30px;
    height:30px;
    font-size:14px;
    padding-left: 6px;
}

.delete-addon-btn
{
    margin-top:10px;
    margin-left:20px;
    cursor: pointer; 
    font-size:14px;
    width:200px; 
    height:30px;
    background-color:burlywood;
    border-radius:10px;
    font-weight:bold;
}

.delete-addon-btn:hover
{
    background-color:sandybrown;
}


/*------------------------------------------ Display Status ------------------------------------------- */

.PendingstatusBox 
{
    width: calc(33.33% - 170px); 
    box-sizing: border-box;
    margin-top:15px;
    margin-right:20px;
    display: inline-block;
    vertical-align: top;
    background-color: #fff; 
    border: 1px solid #ddd; 
    padding: 15px;
    border-radius: 5px;
}

.DeliveredstatusBox 
{
    display: flex;
    width:1370px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right:200px;
    margin-top:20px;
    vertical-align: top;
    background-color: #fff; 
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    flex-direction: auto;
}

.Status-container
{
    border-radius:10px;
    width:300px;
}

.Status-container .cus-info 
{
    flex-basis: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    overflow-y: auto;
    max-height: 15rem;
}

.Status-container .food-ordered-box 
{
    flex-basis: 100%;
    border: 1px solid black;
    padding: 100px;
    margin-top: 10px; /* Adjust margin as needed */
}

.Status-container .btn 
{
    margin-top: 25px;
    margin-left: 65px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 12px;
    width: 165px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
    background-color: lightgreen;
}

.Status-container .btn:hover 
{
    background-color: greenyellow;
}

.vieworder 
{
    background-color:burlywood;  
    margin-top: 25px;
    margin-left: 85px;
    margin-bottom:10px;
    cursor: pointer;
    font-size: 12px;
    width: 50%;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
}

.food-ordered-box 
{
    max-height: 500px; /* Set the desired height for scrolling */
    overflow-y: auto;
    /* Add any additional styling as needed */
}

.delivered-btn
{
    background-color:lightgreen;
    width:50%;
    padding:5px;
    font-weight:bold;
    cursor:pointer;
    margin-left:85px;
    border-radius: 10px;
    font-size:12px;
}
.delivered-btn:hover
{
    background-color:greenyellow;
    
}

.cus-info h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.cus-info h3 {
    color: #555;
    font-size: 16px;
    margin-bottom: 5px;
}

.cus-info hr {
    border: 1px solid #ccc;
    margin: 10px 0;
}

/* Add styles for Food Ordered */
.food-ordered h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.food-ordered h3 {
    color: #555;
    font-size: 18px;
    margin-bottom: 5px;
}

.food-ordered .card-text {
    color: #777;
    font-size: 16px;
    margin-bottom: 5px;
}

.OrderHistory 
{
    border: 1px solid #ddd;
    margin-top: 30px;
    margin-right:11px;
}




/*------------------------------------------ Display History ------------------------------------------- */

.Historybox
{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.History-container
{
    border:2px solid black;
    border-radius:5px;
    padding:20px;
    margin:14px;
    margin-right:20px;
    width:20%;
}











 

  





