*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

body
{
    min-height:100vh;
    background-color:burlywood;
    color:white;
    background-size:cover;
    background-position:center;
}

/* Side Bar */

.side-bar
{
    background:black;
    width:250px;
    left:-250px;
    height:100vh;
    position:fixed;
    top:0;
    overflow-y:auto;
    transition:0.6s ease;
    transition-property:left;
}

header
{
    background:#33363a;
}

header img
{
    width:100px;
    margin:15px;
    margin-left:70px;
    border-radius:50%;
    border:3px solid grey;
}

.close-btn
{
    position:absolute;
    color:#fff;
    font-size:23px;
    right:0px;
    margin:15px;
    cursor:pointer; 
}

header h1
{
    text-align:center;
    font-weight:600;
    font-size:25px;
    padding-bottom:13px;
    font-family:sans-serif;
    letter-spacing:2px;
}

.menu
{
    width:100%;
    margin-top:30px;
}

.menu .item a
{
    color:white;
    font-size:16px;
    text-decoration:none;
    display:block;
    padding:3px 30px;
    line-height:60px;
}

.menu .item .logout
{
    background-color:grey;
    width:300px;
    height:75px;
}

.item i
{
    margin-right:15px;
}

.item a .dropdown
{
    position:absolute;
    right:0;
    margin:20px;
    transition:0.3s ease;  
}

.item .sub-menu
{
    background:black;
    display:none;
}

.menu-btn
{
    position:absolute;
    color:rgb(0,0,0);
    font-size:35px;
    cursor:pointer;
    margin:25px;

}

.sub-btn
{
    cursor:pointer;
}

.side-bar.active
{
    left:0;
}

.side-bar::-webkit-scrollbar  /* CSS for scroll bar on Side Bar */
{
    width:0px;
}

.item .sub-menu a
{
    padding-left:80px;
}

.rotate
{
    transform:rotate(90deg);
}

/* Date & Time Widget */

.datetime
{
    color:black;
    background-color:#ebe9e9;
    font-family:"Segoe UI",sans-serif;
    width:1285px;
    padding:10px 10px;
    margin-left:250px;
    border:3px solid blanchedalmond;
    border-radius:8px;
    
}

.date
{
    font-size:15px;
    font-weight:600;
    text-align:center;
    letter-spacing:3px;
    margin-left:950px;
    position:absolute;
    top:60px;
}

.time
{
    font-size:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left:950px;
    position:absolute;
    top:90px;
}

.time span:not(:last-child)
{
    position:relative;
    margin:0 6px;
    font-weight:600;
    text-align:center;
    letter-spacing:3px;
}

.time span:last-child
{
    font-size:30px;
    font-weight:600;
    text-transform:uppercase;
    margin-top:10px;
    padding:0 5px;
    border-radius:4px;
}

/* Header Section */

.main-content
{
    position:relative;
    color:black;
}

.header-title
{
    font-size:20px;
    padding:5px 5px;
    position: relative;
    top:20px;
}

.header-title span
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-title h2
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.search-box 
{
    display: flex;
    align-items: center;
    background-color: #fff; 
    border: 1px solid #ccc; 
    border-radius: 30px; 
    padding: 10px; 
    width: 300px;
    margin-left:600px; 
}

.search-box input[type="text"] 
{
    border: none; 
    outline: none; 
    width: 100%; 
    padding: 6px; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}

/* Admin Account Table */

.adminAcc 
{
  width: 100%;
  table-layout: fixed;
  margin-top:30px;
}

.adminAcc .headings
{
    background-color:lightblue;
}

.adminAcc th
{
    text-align: center;
    width:20%;
    padding:8px;
}

.edit
{
    background-color:lightgreen;
    padding:3px;
    font-weight:bold;
    cursor:pointer;
}

.dlt
{
    background-color:red;
    padding:3px;
    font-weight:bold;
    cursor: pointer;
}